body {
	background-color: #FFFFF;
	font-family: sans-serif;
	margin-left: 40px;
	margin-right: 40px;
}

a:link {
	color: #0000CC;
	text-decoration: none;
}

a:visited {
	color: #0000CC;
	text-decoration: none;
}

a:hover {
	color: #0066FF;
	text-decoration: none;
}

a:active {
	color: #0066FF;
	text-decoration: none;
}

.messagesTable {
	font-size: 0.8em;
	width: 100%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.tableHeader {
	background-color: #CCFF66;
	padding: 5px;
}

.tableCell {
	background-color: #F8F8F8;
	padding: 5px;
}

.messagesTable th,.messagesTable td {
	border-style: solid;
	border-width: 1px;
	border-color: #A0A0A0;
}

.paginationTable {
	border-style: none;
	font-size: 0.8em;
	padding: 5px;
	width: 100%;
}